
@import url('css2-family-Padauk-display-swap.txt');


body{
	margin: 0 auto;
	background-color: #0A0A0A;
}
.header{
	width: 100%;
	height: 70px;
	float: left;
	position: fixed;
	background-color: #0A0A0A;
	z-index: 99999;

}
.imglogo{
	width: 20%;
	height: 70px;
	float: left;
	background-color: #0A0A0A;
	
}
.header_links{
	width: 600px;
	height: 70px;
	background-color: red;
	float: right;
}
.fafa_link{
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 15px;
	margin-right: 50px;
}
ul li{
	width:100%;
	height:auto;
	display:inline;
	color: #560606;
	font-size:18px;
	margin-top:10px;
	text-indent:10px;
	text-align: center;	
}
.header_signup{
	width: 25%;
	height: 30px;
	float: right;
	margin-right: 20px;
	background-color: #fff;
	margin-top: -38px;
	border-radius: 5px;
	border: 0px;
	color: red;
}
.header_signup:hover{
	transition: 2s;
	background-color: #b70000;
	cursor: pointer;
	color: #fff;
}

/* slider code  */
@keyframes slida{
	0%{
	left: 0;
	}
	20%{
	left: 0;
	}
	25%{
	left: -100%;
	}
	45%{
	left: -100%;
	}
	50%{
	left: -200%;
	}
	70%{
	left: -200%
	}
	75%{
	left: -300%;
	}
	95%{
	left: -300%;
	}
	100%{
	left: -400%;
	}
	}
#slida{
		overflow: hidden;
		float: left;
		margin-top: 70px;
	}
#slida figure img {
		width: 20%;
	}

#slida figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	z-index: -4;
	text-align: left;
	font-size: 0;
	transform: translate(0px);
	animation: 20s slida infinite;
	background-color: #fff;
}
#imgdiv{
	width: 100%; 
	height: 450px;

}

/* animation code 4 text */
.headdiv5{
	width: 100%;
	height: 180px;
	background-color: transparent;
	float: left;
	z-index: -4;
	position: relative;
	margin-top: -300px;
}
#h3{
	color: white;
	margin-left: 30px;
	font-family: monospace;
	margin-top: 18px;
	line-height: 30px;
	font-size: 38px;
}
.text-box{
	width: 100%;
	height:300px;
	z-index: -0;
	float: left;
	background-color: rgb(0,0,0,0.4);

}
	#texts{
	animation: textup 7s linear infinite;
	transform: translateX(-450px);
	text-align: center;
}
@keyframes textup{
	10%{
		transform: translateX(0px);	
	}
	100%{
	transform: translateX(0px);	
	}}
#main1{
	width: 100%;
	height: 325px;
	float: left;
	background-color: #0A0A0A;

}
.div_below_slida{
	width: 90%;
	height: 430px;
	background-color: #100F0F;
	margin-top: -75px;
	margin-left: 5%;
	text-align: center;
	float: left;
	z-index: 4;
	color: #0E0E0E;
}
.diva1{
	width: 30%;
	height: 50px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	border-right: 2px solid red;
font-family: Padauk'', sans-serif;
}
.diva2{
	width: 30%;
	height: 50px;
	float: left;
	margin-left: 30px;
	margin-top: 40px;
	


}
.signup_resp{
	width: 80px;
	height: 30px;
	float: right;
	margin-right: 6px;
	background-color: #690202;
	border-radius: 5px;
	margin-top: 20px;
	border: 0px;
	color: #fff;
	display: none;
}
.login_resp{
	width: 100px;
	height: 30px;
	float: right;
	margin-right: 20px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	border: 0px;
	color: #FA9801;
}
.signup_resp:hover{
	transition: 2s;
	background-color: #b70000;
	cursor: pointer;
	color: #fff;
}
.login_resp:hover{
	transition: 2s;
	background-color: red;
	cursor: pointer;
	color: #fff;
}
#fafa_icon{
	width: 40px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	display: none;
	border: 1px solid #FA9801;
	border-radius: 5px;
}
#fafa_icon:hover{
	cursor: pointer;
	}
.hr_fafa{
	border: 0.5px solid #fff9f9;
	border-radius: 5px;
	width: 25px;
	margin-top: 6px;
}
.hr_fafa:hover{
	border: 2px solid #fff;
	}
.api_div{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 60px;
	background-color: #fff;
	
}
.svg_div{
	width: 100%;
	height: auto;
	margin-top: 0px;
	float: left;
	background-color:  #FBFBFB;
}
.Whitepaper{
	width: 20%;
	height: 50px;
	float: left;
	background-color: #e0212f;
	border: 0px;
	margin-left: 20px;
	border-radius: 50px;
	color: #fff;
	font-size: 16px;
}
#main_div_1{
	width: 30%;
	height: 200px;
	float: left;
	margin-left: 2.40%;
	margin-top: 20px;
	text-align: center;
	color: #404040;

}
#main_div_img1{
	width: 20%;
	height: 100px;
}
#h1_main_div{
	margin-top: -10px;
}
#h4_main_div{
	margin-top: -20px; 
	color: grey;
	line-height: 25px;
}
#menu_drop{
		width: 100%;
		height: 230px;
		background-color: #0A0A0A;
		display: none;
		float: left;
		text-align: center;
		color: #560202;
}
.fafa_link2{
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 15px;
	margin-right: 50px;
}
#div_below_advantages{
	width: 100%;
	height: auto;
	float: left;
	background-color: #e0212f;
	margin-top: -30px;
}
#main_div_2{
	width: 100%;
	height: auto;
	background-color: #e0212f;
	float: left;
	color: #efefef;
	margin-top: 20px;

}
#main_div_2_1{
	width: 30%;
	height: auto;
	margin-left: 20px;
	margin-top: 10px;
	text-align: center;
	float: left;
}
#main_body_2{
	width: 45%;
	height: auto;
	float: left;
	color: #000037;
	font-family: 'Padauk', sans-serif;
}
#main_body_2_div_1{
	width: 300px;
	height: auto;
	margin-left: 20px;
	margin-top: 0px;
	float: left;
	
}
#main_body_2_div_header{
	width: 420px;
	height: auto;
	margin-left: 20px;
	margin-top: 30px;
	float: left;
}
#main_body_2_div_1_h1{
	font-size: 40px;
	color: #FA9801;
	margin-top: -20px;
}
#main_body_2_div_1_p1{
	color: #EDEAEA;
	line-height: 25px;
}
#main_body_2_div_3{
	color: #EDEAEA;
	margin-top: -20px;
	font-size: 25px;
}
#GET_START2{
	width: 250px;
	height: 45px;
	color: #EDEAEA;
	background-color: #FA9801;
	color: #fff;
	border-radius: 50px;
	margin-top: 0px;
	border: 0px;
	font-size: 19px;
}
#GET_START2:hover{
	background-color: #b70000;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000037;
	transition: 0.8s;
}
#img_curved{
	width: 100%;
	height: 550px;
	margin-top: 30px;
}
#img_curved_div{
	width: 50%;
	height: auto;
	margin-top:  10px;
	background-color: #f7f7f7;
}
#phone_img{
	width: 85%;
	height: 500px;
	margin-top: 0px;
}
#mother_main_div{
	width: 100%;
	height: auto;
	background-color: #100F0F;
	float: left;
	margin-top: -10px;
}
#main_body_2_div_2{
	color: #FFF9F9;
}


/* CALCULTATOR CSS */
#calculator_div{
	width: 100%;
	height: auto;
	float: left;
	background-color: #0A0A0A;
	text-align: center;
	color: #000037;
}
#invstPlan{
	width: 24%;
	height: 40px;
	margin-top: 0px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #000037;
	border-style: outset;
}
#invstAmnt{
	width: 23%;
	height: 40px;
	margin-top: 10px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #000037;
	border-style: outset;
	padding-left: 0px;
	padding-left: 10px;
}
#rio{
	width: 23%;
	height: 40px;
	font-size: 40px;
	border-radius: 4px;
	border: 0px;
	border-style: outset;
	background-color: transparent;
	margin: 0 auto;	
}

/* Investments Plans css */
#plans_div{
	width: 100%;
	height: 500px;
	float: left;
}
#mother_div_plans{
	width: 18%;
	height: 450px;
	background-color: #100F0F;	
	float: left;
	margin-left: 6.5%;
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
	color: #F7F0F0;
	box-shadow: 0px 2px 12px 0px #FA9801 ;
}
.mother_div_plans{
	width: 85%;
	height: 250px;
	background-color: #fff;	
	float: left;
	margin-left: 6.5%;
	margin-top: 20px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #e6ece9;
	color: #000037;	
}
#mother_div_plans_header{
	width: 100%;
	height: 80px;
	background-color: #000037;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 10px solid #00FFFF;
	text-align: center;
	color: #ffffff;
	padding-top: 5px;
}
#horizontal_plans{
	color: #e8e8e8;
}
#mother_div_plans_header_p{
	float: left;
	margin-left: 30px;
}
#invest_now{
	width: 170px;
	height: 38px;
	background-color: #FA9801;
	color: #000037;
	border-radius: 5px;
	margin-top: 20px;
	border: 0px;
	font-size: 14px;
	margin-bottom: 20px;
	color: #fff;
}
#invest_now:hover{
	background-color: #b70000;
	color: #fff;
	cursor: pointer;
	transition: 0.8s;
}
#invest_now_2{
	width: 170px;
	height: 38px;
	background-color: #690202;	
	color: #fff;
	border-radius: 5px;
	margin-top: 0px;
	border: 0px;
	font-size: 14px;
	float: left;
}
#invest_now_2:hover{
	background-color: #b70000;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000037;
	transition: 0.8s;
}
#div_below_plans_1{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 150px;

}
#div_below_plans{
	width: 40%;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-top: 20PX;
	color: #404040;
	line-height: 30px;
	text-align: center;
}
#video_embede_div{
	width: 40%;
	height: auto;
	float: right;
	margin-top: 30px;
	margin-right: 60px;
}
#video_div{
	width: 100%;
	height: auto;
	float: left;
	background-color: black;
	box-shadow: 1px 1px 6px 4px lightgray;
	margin-top: -10px;
}
#our_rep{
	width: 20%;
	height: auto;
	float: left;
	margin-top: 20px;
	color: #000037;
	background-color: #fff;
	margin-left: 60px;
	text-align: center;
	border-radius: 10px;
	border-top: 2px solid red;
	box-shadow: 1px 1px 6px 4px lightgray;
}
#our_rep_2{
	width: 20%;
	height: auto;
	float: left;
	margin-top: 20px;
	color: #fff;
	border-radius: 10px;
	background-color: #000037;
	margin-left: 30px;
	text-align: center;
	box-shadow: 1px 1px 6px 4px lightgray;
}

/* latest withdrawal and deposit*/
	.depo-main{
		width: 100%; 
		padding-top: 23px;
		float: left;
		background-size: 100%;
		text-align: center;
		color: #000037;
		
	}
	.depo-sub{
		width: 90%;
		margin: 0 auto;
	}
	#depo_sub_1{
		width: 100%;
		height: auto;
		float: left;
		text-align: center;
		line-height: 25px;
		color: grey;
	}
	.depo{
		width: 45%;
		float: left;
		padding: 12px;
		box-shadow: 0px 2px 12px 0px #FA9801 ;
		background: #100F0F;
		border-radius: 8px;
		margin-left: 20px;
		margin-bottom: 33px;
		font-family: 'Padauk', sans-serif;
	}
.oddP > td {
    background: #f0f0f0;
    border: 1px solid lightgray;
    padding: 13px;
    border: none;
    color: #3e3e3e;
}
.evenP > td {
    background: #ffffff;
    border: 1px solid lightgray;
    padding: 13px;
    border: none;
    color: #3e3e3e;
}

/* our team member css start here */
#Team_member_div{
	width: 270px;
	height: auto;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	background-color: #ffffff;
}
#inner_Team_member_div{
	width: 100%;
	height: auto;
	float: left;
	background-color: #FA9801;
	margin-top: -8px;
	text-align: center;
	line-height: 8px;
	color: #fff9f9;
}

/* CSS FOOTER CODE */
#footer{
	height: auto;
	float: left;
	background-color: #0A0A0A;
	margin-top: 20px;
	color: #fff;
}
#footer_div_1{
	width: 30%;
	height: auto;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	color: black;
	line-height: 25px;
}
#footer_div_2{
	width: 15%;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	color: #fff;
}
#Img_footer{
	width: 15%;
	height: auto;
	margin:0 auto;
	margin-top: 10px;
	color: #ffffff;

}
#copyright_div{
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	color: #000037;
}



