@media only screen and (max-width: 500px){
#Registration_div{
	width: 90%;
}
#Already_have_account{
	width: 90%;
}
}
@media only screen and (max-width: 650px){
#login_footer_div{
	width: 300px;
}
#fafa_icon{
	display: block;
	}
}